.circle {
    r: 4; /* Initial radius */
    transition: r 0.3s; /* Smooth transition effect */
    &:hover {
      r: 6; /* New radius when hovered */
      stroke-width: 3;
    }
}

@media screen and (max-width: 770px) {
  .circle {
    r: 2; /* Initial radius */
    transition: r 0.3s; /* Smooth transition effect */
    &:hover {
      r: 6; /* New radius when hovered */
      stroke-width: 3;
    }
  }
}